<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="container" style="height: 100vh;">
        <div class="columns">
            <div class="column is-two-thirds">

                <div class="modal" id="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Add New Category</p>
                            <button class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="column">
                                <form method="POST">
                                    <div class="field">
                                        <label class="label">Category Name</label>
                                        <div class="control">
                                            <input class="input" name="categoryName" type="text" placeholder="Input Category Name"
                                                required onblur="trimInput()">
                                        </div>
                                    </div>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button class="button is-link" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>

                <button class="button is-primary modal-button js-modal-trigger" data-target="modal"
                    aria-haspopup="true">Add New Category</button>

                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th><abbr style="text-decoration: none;" title="categoryName">Category Name</abbr></th>
                        </tr>
                        <tr>
                            <th><abbr style="text-decoration: none;" title="action">Action</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(function(category, index){ %>

                            <tr>
                                <td>
                                    <%= category.categoryName %>
                                </td>
                                <td>
                                    <button class="button is-primary" onclick="showHide('<%= index%>')" id="activeActionButton<%= index%>">Show Action</button>
                                    <div id="actionButton<%= index%>" style="display: none;">
                                        <a href="<%= baseURL%>/delete/<%= category._id%>"><button
                                            class="button is-danger" onclick="return confirm('Confirm to delete?')">Delete</button></a>
                                        <a href="<%= baseURL%>/edit/<%= category._id%>"><button
                                                class="button is-warning">Edit</button></a>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>